:root {
    --primary-color: #f3f5f7;
    --primary-color-light: #c863f04d;
    --primary-color-extra-light:#f8f2fc;
    --secondary-color:#04043d ;
    --secondary-color-dark: #280d8a;
    --text-light: #1d0225;
    --white: #c04bee;
   --width:1200px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
       background-color: var(--primary-color);
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
  }
  .resumecontainer{
    position:relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: var(--primary-color);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 035px 55px rgba(0, 0, 0, 0);
    
    
  }
  .resumecontainer .leftsection{
   position: relative;
   background: var(--secondary-color);
   padding: 40px;
   border-radius: 25px;
 
}
.resumecontainer .rightsection{
    position: relative;
    background: var(--primary-color-extra-light);
    padding: 40px;
    border-radius: 25px;
}
.Contact{
  padding:80px 0px 20px 0px;
  color:var(--primary-color);
}
.Contact h3{
 margin-bottom: 15px;
}
.Contact ul{
position: relative;
}
.Contact ul li{
  position: relative;
  list-style:none;
  margin: 10px 0;
  cursor: pointer; 
}
.Education{
  padding: 10px;
  color: var(--primary-color);
}
.Education h3{
  margin-bottom: 15px;
}
.Education ul{
  position: relative;
}
.Education ul li{
  position: relative;
  list-style:none;
  margin: 10px 0;
  cursor: pointer; 
}
#skills{
  padding: 10px;
  color: var(--primary-color);
}
#skills h3{
  margin-bottom: 15px;
}
#skills ul{
  position: relative;
}
#skills ul li{
  position: relative;
  list-style:none;
  margin: 10px 0;
  cursor: pointer;
}

.rightsection h1{
position: relative;
justify-content: center;
font-size: 80px;
color: var(--secondary-color);
}
.CareerObjective{
  padding: 30px;
  color: var(--secondary-color);
}
.CareerObjective h3{
  position: relative;
  cursor: pointer;
  margin: 10px;
  font-size: 25px;
  margin-bottom: 15px;
}
.Experience{
  padding: 30px;
  color: var(--secondary-color);
}
.Experience h3{
  margin-bottom: 15px;
}
.Experience ul{
  position: relative;
}
.Experience ul li{
  position: relative;
  cursor: pointer;
  list-style: none;
  padding-bottom: 10px;
 
}
.refrence{
  padding: 30px;
  color: var(--secondary-color);

}
.refrence p{
  padding: 30px;
  color: var(--text-light);
}
.lang{
  padding: 10px;
  color: var(--secondary-color) ;
}
.lang h3{
  margin-bottom: 15px;
}
.lang ul{
  position: relative;
}
.lang ul li{
  position: relative;
  cursor: pointer;
  margin: 10px;
  list-style: none;
}
#toggle{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(38, 5, 77);
  font-size: 18px;
  cursor: pointer;
  padding: 8px;
}
button:hover{
  color:var(--primary-color-extra-light);
background-color:var(--secondary-color-dark);
}